.btn{
	height: 30px;
}
#meunSy{
	padding-top: 10px;
}
.button3{
	border:none;
	outline:none;
	background-color:white;
	color:#0088CC;
	font:20px;
}
caption{
	font-size: 20PX;
	font-family: "ºÚÌå";
	margin-bottom: 10px;
}
#xiangqing tr{
	height: 50px;
}
#xiangqing table td{
	border: 1px #9FCDDA dashed;
	text-align: center;
}
#xiangqing table th{
	border: 1px #9FCDDA dashed;
}