@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
body {
	background-color:#FFF;
	font-size:12px;
	margin:0 auto;
}
#con{ 
	width:1200px; 
	margin:0 auto;
}
#Search{
	width:1200px;
	position:relative;
}


#content{
	width:1200px;
	position:relative;
	top:-50px;
}

#content2{
	background-color:#FFF;
	width:960px;
	position:relative;
	top:-20px;
	left:120px;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:10px;
}
p{
	
	position:relative;
	left:50px;
	width:900px;
	letter-spacing:2px;
	text-indent:3em;
	line-height:30px;
	margin-bottom:20px;
}
.tz{
	position:relative;
	left:50px;
	padding:20px;
	margin-right:40px;
	margin-bottom:20px;
}
.tz img{
	margin-top:10px;
}
#foot_server {
	position:relative;
	top:20px;
	text-indent:inherit;
	width:1200px;
}
#footer{
	position:relative;
	top: 30px;
	width:1200px;
	height:100px;
	text-align:center;
}
