@charset "utf-8";
* {
	margin:0px;
	padding:0px;
}
#contentone{
	width:1800px;
	height:9000px;
	margin:0 auto;
	border:1px;
	border-color:black;
	border-style:solid;
	background-color:#FFEDAF;
	
}
#con{
	width:100%;
	height:2600px;
	float:left;
	border:0px;
	border-color:red;
	border-style:solid;

}

#div_good1{
	width:52%;
	height:1800px;
	 margin-left: 24%;
	  margin-right: 24%;
    float:left;
    border:0px;
	border-color:red;
	border-style:solid;
	
}
#div_good2{
	width:52%;
	height:1820px;
	 margin-left: 24%;
	  margin-right: 24%;
    float:left;
    border:0px;
	border-color:red;
	border-style:solid;
	
}
#div_head5{
	width:100%;
	height:800px;
	margin:0px;
	float: left;
}
#div_head6{
	width:60%;
	height:800px;
	margin-left:24%;
	margin-right:20%;
	float: left;
	
}