@charset "utf-8";
/* CSS Document */
.addAddressButton1{
	background-color:#F3FAEC;
	border:1px solid #BFD6AF;
	width:150px;
	height:30px;
	font-size:16px;
	font-weight:bold;
	float:left;
	margin-left:20px;
	margin-top:20px;
}
.prompt1{
	float:left;
	margin-left:10px;
	margin-top:25px;
	color:#999999;
}
.addAddressFrame1{
	width:754px;
	height:180px;
	border:3px solid #E6E6E6;
	margin-left:20px;
	margin-top:65px;
	background-color:#FFF;
}
.bigAddress{
	float:left;
	margin:10px;
	color:#666666;
	font-size:16px;
	font-weight:bold;
}
.defaultAddress{
	float:left;
	width:52px;
	height:18px;
	background-color:#FFAA45;
	color:#FFF;
	font-size:12px;
	margin-left:5px;
	margin-top:10px;
	padding-left:5px;
	padding-top:2px;
}
.addressForm{
	width:400px;
	margin-top:35px;
	margin-left:15px;
}
.leftTd{
	color:#999999;
	padding:2px;
}
.rightTd{
	color:#666666;
}
.addressOption{
	float:right;
}
.addressOption1{
	text-decoration:none;
	font-size:14px;
	color:#005EA7;
	position:relative;
	right:50px;
}
.addressOption2{
	text-decoration:none;
	font-size:14px;
	color:#005EA7;
	position:relative;
	right:40px;
}
.addAddressFrame2{
	width:754px;
	height:180px;
	border:3px solid #E6E6E6;
	margin-left:20px;
	margin-top:10px;
	background-color:#FFF;
}
.addAddressFrame3{
	width:754px;
	height:180px;
	border:3px solid #E6E6E6;
	margin-left:20px;
	margin-top:10px;
	background-color:#FFF;
}
.addAddressButton2{
	background-color:#F3FAEC;
	border:1px solid #BFD6AF;
	width:150px;
	height:30px;
	font-size:16px;
	font-weight:bold;
	float:left;
	margin-left:20px;
	margin-top:10px;
}
.prompt2{
	float:left;
	margin-left:10px;
	margin-top:15px;
	color:#999999;
	padding-bottom:30px;
}
.addressOption1:hover{
	text-decoration:underline;
	color:#B70409;
}
.addressOption2:hover{
	text-decoration:underline;
	color:#B70409;
}
