<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- 搜索商品相关 zq  --> <!-- 暂时只用作搜索商品相关模块 勿添加修改  -->
<mapper namespace="cn.edu.nwsuaf.dao.SearchProductDao">
<!--

	<select id="findProductByName" parameterType="String"
		resultType="cn.edu.nwsuaf.entity.Product">  		 根据商品名查询商品、暂时没用到
		select *
		from product where product_name=#{product_name}
	</select>
	
	-->
	<select id="findProductsByName" parameterType="String"
		resultType="cn.edu.nwsuaf.entity.Product">  						<!-- 根据商品名查询商品 返回列表-->
		select *
		from product where product_name like #{product_name}
	</select>
	
	
	<!-- 搜索的商品的总数目 -->	
	<select id="findProductsTotalCountByName" parameterType="String" resultType="int">
		select count(product_name) from product where product_name LIKE #{product_name}
	</select>
	
	
	<select id="findProductsByPrice" resultType="cn.edu.nwsuaf.entity.Product">
		SELECT * from product where fixed_price between #{0} and #{1}
	</select>
	
</mapper>